# Local development (Supabase)
# Replace placeholders with the rotated Supabase credentials.
DATABASE_URL=postgresql://postgres.bunkadvcfnyotcljojwb:Y70vFu46lZQZFNtO@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=5&sslmode=require&pool_timeout=30
# DIRECT_URL=postgresql://postgres:Y70vFu46lZQZFNtO@db.bunkadvcfnyotcljojwb.supabase.co:5432/postgres
JWT_SECRET=dcfe0b49f991d64a4dbd7303232e2898d78e7e0f3a24871288fc452dc9b0fe56
ENCRYPTION_KEY=726f30d5c320cf52fa02b895d89ce3cad695020bdc1558a000bfadb5afc8e293

# Direct connection to the database. Used for migrations
DIRECT_URL=postgresql://postgres.bunkadvcfnyotcljojwb:Y70vFu46lZQZFNtO@aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require&pool_timeout=30


NODE_ENV=development
PORT=3000


# USSD / Africa's Talking
USSD_SHORTCODE=*384*36224#
AT_USSD_CALLBACK_URL=https://abc123.ngrok-free.app/api/ussd
ENABLE_USSD_AUX_ENDPOINTS=true

# SMS / Africa's Talking
SMS_PROVIDER=africastalking
SMS_USERNAME=<teu_username_africas_talking>
SMS_API_KEY=<tua_api_key_africas_talking>
SMS_SENDER=WIRA

