# Local development (Supabase)
# Replace placeholders with the rotated Supabase credentials.
DATABASE_URL=postgresql://postgres.bunkadvcfnyotcljojwb:Y70vFu46lZQZFNtO@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true
# DIRECT_URL=postgresql://postgres:Y70vFu46lZQZFNtO@db.bunkadvcfnyotcljojwb.supabase.co:5432/postgres
JWT_SECRET=dcfe0b49f991d64a4dbd7303232e2898d78e7e0f3a24871288fc452dc9b0fe56
ENCRYPTION_KEY=726f30d5c320cf52fa02b895d89ce3cad695020bdc1558a000bfadb5afc8e293

# Direct connection to the database. Used for migrations
DIRECT_URL=postgresql://postgres.bunkadvcfnyotcljojwb:Y70vFu46lZQZFNtO@aws-1-eu-west-1.pooler.supabase.com:5432/postgres